#* — заменяет любое количество символов в названии (в том числе ноль).
#? — заменяет ровно один символ.
#! — исключает из игнорирования файл или папку, уже добавленные в .gitignore ранее.
#/ — указывает, что речь идёт о директории.
# — позволяет оставлять комментарии в файле.




# Виртуальное окружение
env/
venv/
*.env
*.pyenv

# Файлы для кеширования
__pycache__/
*.py[cod]

# Файлы среды разработки
.idea/
.vscode/
*.iml

# Логи и временные файлы
*.log
*.bak
*.swp

# Системные файлы
Thumbs.db  # Windows
.DS_Store  # macOS 

#файлы для теста
tmp_data.txt